body {
    font-family: 'Roboto', serif;
    color: white;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}

.header-container {
    background-color: #1F2937;
    padding: 0 40px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-about {
    padding: 40px 0;
}

img {
    width:480px; /* you can use % */
    height: auto;
}

.header-about {
    display: flex;
    flex-direction: row;
}

.links {
    display: flex;
    gap: 12px;
}

ul {
    list-style-type: none;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}